! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.transparent: true
URxvt.shading: 40
URxvt.blurRadius: 20

! Included this so you know how to make your foreground not match the color of your background
URxvt.foreground: #eeeeee



!! URxvt Appearance
!URxvt.font: xft:Hack Nerd Font:size=8
!URxvt.boldFont: -*-Hack Nerd Font-*
!URxvt.italicFont: -*-Hack Nerd Font-*
!URxvt.boldItalicfont: -*-Hack Nerd Font-*

! Hurmit does not render nicely:
!URxvt.font: xft:Hurmit Nerd Font:style=medium:size=8

URxvt.font: xft:mononoki Nerd Font Mono:style=Regular:size=8
URxvt.boldFont: xft:mononoki Nerd Font Mono:style=Bold:size=8
URxvt.boldItalicFont: xft:mononoki Nerd Font Mono:style=BoldItalic:size=8

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 20480
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false



URxvt.perl-ext-common: font-size,keyboard-select,clipboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
!!URxvt.iso14755: False



! To reload:
!
!    xrdb ~/.Xresources
