*.swp
*.bak
.DS_Store

hypr/.config/wofi/colors.css
hypr/.config/waybar/colors.css

kitty/.config/kitty/current-theme.conf
nvim/.config/nvim/lazy-lock.json
gdb/.gdb/__pycache__

fonts/.local/share/fonts/.uuid
base16/.config/htop/
